
{% extends 'base.html' %}

{% block content %}
 <!-- DataTables Example -->
<div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Add Items</div>

    <h1>{% block title %} Add a new order {% endblock %}</h1>
<form method="post">
      <div class="form-group">
        <label for="itemlist">Items</label>
        <input type="text" name="itemlist"
     placeholder="Items" class="form-control"
     value="{{ request.form['itemlist'] }}"></input>
     </div>


     <div class="form-group">
     <label for="total">Total</label>
     <textarea name="total" placeholder="Total"
     class="form-control">{{ request.form['total']
    }}</textarea>
     </div>

     <div class="form-group">
     <button type="submit" class="btn btn-primary">Submit</button>
     </div>
</form>
</div>

{% endblock %}