
{% extends 'base.html' %}

{% block content %}
 <!-- DataTables Example -->
<div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Edit Order</div>

    <h1>{% block title %} Edit "{{ order['id'] }}" {% endblock %}</h1>
<form method="post">
 <div class="form-group">
 <label for="itemlist">Itemlist</label>
 <input type="text" name="itemlist" placeholder="Item List"
 class="form-control" autoComplete="off"
 value="{{ request.form['itemlist'] or order['itemlist'] }}">
 </input>
 </div>

 <div class="form-group">
 <label for="total">Total</label>
 <input type="text" name="total" placeholder="Order total"
 class="form-control" value="{{ request.form['total'] or order['total'] }}"></input>
 </div>



 <div class="form-group">
 <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>
<hr>

</div>

{% endblock %}