
{% extends 'base.html' %}

{% block content %}
 <!-- DataTables Example -->
<div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
             Employees</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Wage</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Wage</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for employee in employees %}
                  <tr>
                    <td>{{ employee['id'] }}</td>
                    <td>{{ employee['name'] }}</td>
                    <td>{{ employee['position'] }}</td>
                    <td>{{ employee['wage'] }}</td>
                    <th><a href="{{ url_for('editemployees', id=employee['id']) }}">Edit</a></th>
                    <th><a href="{{ url_for('deleteemployees', id=employee['id']) }}">Delete</a></th>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

{% endblock %}